<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_host">/192.168.149.1</value>
    <value name="is_hostname">MCSURU01.eur.ad.sag</value>
    <value name="is_directory">C:\SoftwareAGWebm97\IntegrationServer\instances\default</value>
    <value name="is_identifier">1a0889ff-0504-487d-bbe2-f930abafa21d</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
