/**
. = class
# = id
**/
* {
	font-family: Tahoma, Arial, sans-serif;
}

.mainNavigation {
	background-color: #e2e4d7;
}

#headerContent {
	background-color: #0d5b7e;
	border: 1px solid #0d5b7e;
	padding: 0px 0px 0px 0px;
}

#header {
	height: 37px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#headerImages div.logo {
	padding-left: 0px;
	padding-top: 0px;
	border: 0px 0px 0px 0px;
	width: 95px;
}

div#headerText {
	color: #ffffff;
	font-size: 21px;
	font-weight: regular;
	margin-left: 8px;
	margin-top: 10px;
}

#crumbs {
	float: none;
	clear: both;
	overflow: auto;
	width: 100%
}

.ui-dialog .ui-widget-header {
	background-color: #0d5b7e !important;
}

.ui-widget-header {
	background-color: #0d5b7e;
	background-image: none;
	border: 1px solid #0d5b7e;
}

#PoweredByText,#CopyrightText {
	display: none;
}

#SAGCopyrightText {
	color: #666666;
	line-height: 1.3;
}