* {
	font-family: Tahoma, Arial, sans-serif;
}

div#panelbody,div#changepasswordPanel {
	padding-bottom: 30px;
}

#SAGCopyrightText {
	
	padding-top: 10px;
	margin: 10px;
	color: #666666;
	line-height: 1.3;
}