b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
em.cEmphasis
{
  font-style: italic
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pAnchor
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 0px;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pAnchorListReset
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Description
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Heading
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 9px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Important1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Important2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Note1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Note2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Parameters
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 9px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Tip1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBIS_Tip2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellCode
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 2.5em;
  margin-right: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pChapterTOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pDefLetters
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pDefLinks
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pDefListDefinition
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pDefListTerm
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pFigureCaption1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 12px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pFigureCaption2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 12px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pGoToTop
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pGroupTitlesIX
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 12px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading2
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 12px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pHeading3
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 11px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading4
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pImportant
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 2.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 7.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 10em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 12.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 2.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pJumpList
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel1IX
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 2.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel2IX
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel3IX
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 7.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel4IX
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 10em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel5IX
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 12.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pMessage_Cause
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pMessage_Response
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pMessage_Text
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pNewHTMLPage
{
  color: #000080;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopup
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pProcedureHeading
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pRelatedTopics
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTip
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTOC1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 2.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 7.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC6
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 12.5em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.px_Important
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.px_Note
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.px_ProcTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.px_Tip
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 8px;
  margin-top: 7px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

