@charset 'UTF-8';
/*
Custom CSS for CrushFTP
Items related to DND upload
 */
#dropItemsPanel
{
	display:none;
	height:60px;
	width:100%;
	margin: 3px 0 0 0;
	text-align:center;
	position:absolute;
	z-index:9;
	-moz-box-shadow: 2px 4px 6px #ccc;
	-webkit-box-shadow: 2px 4px 6px #ccc;
	box-shadow: 2px 4px 6px #ccc;
}

.dropzone.hover {
    background: #FFFF99;
}

.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#fileRepo
{
	position:absolute;
	z-index:1001;
	width:750px;
	display:none;
	margin-top:40px;
	margin-left:-6px;
	-moz-box-shadow: 2px 4px 6px #ccc;
	-webkit-box-shadow: 2px 4px 6px #ccc;
	box-shadow: 2px 4px 6px #ccc;	
}

#fileRepo
{
	 overflow:hidden;
	 overflow-y:auto;
	 max-height:400px;
}

#fileRepo li
{
	vertical-align:middle;
}

#fileQueueInfo
{
	/*display:none;*/
	padding: 5px;
    margin: 3px 0 0 0;
	height:35px;
	-moz-box-shadow: 2px 4px 6px #ccc;
	-webkit-box-shadow: 2px 4px 6px #ccc;
	box-shadow: 2px 4px 6px #ccc;
}

.ui-state-error a
{
	color:white !important;
}