#ActiveTransfer properties
#Tue Jan 22 15:05:06 IST 2013
mft.http.default.port=2080
mft.gatewayServer.port=8500
mft.gatewayServer.accept.ip.list=
mft.log.level=0
mft.user.email.from=
mft.user.email.public.ip=
mft.user.email.subject=ActiveTransfer User Registration
mft.log.roll.enable=false
mft.log.roll.maxFileSize=10
mft.log.roll.maxFileCount=10
mft.event.sleep.time=1
mft.session.replication.enable=false
mft.session.replication.address=
mft.session.replication.other.nodes=
mft.ssl.client.acceptAnyCert=true
mft.server.init.isInitTimeout=500
