#Default KeyStore password file. 
# Please change theese property values to update the default keystore details
#Tue Jun 16 13:17:26 IST 2015
mft.ssl.certificate.file.name=
mft.ssl.privatekey.password=
mft.ssl.keystore.password=
