.minimapWrapper
{
  float:left;
}

.miniMap
{
  clear: both;
  width:15px;
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 2px;
  margin: 0px 5px 0px 0px;
  position: relative;
}

.miniMap .positionMarker
{
  display: inline-block;
  border: 1px solid #534E4E;
  height: 15px;
  width: 27px;
  cursor: move;
  position: absolute;
  left: -5px;
  margin: 0px;
  padding: 0px;
  z-index: 99;
}

.miniMap .marker
{
  display: inline-block;
  background-color: orange;
  height:2px;
  width:15px;
  cursor: pointer;
  position: absolute;
}

.toTop, .toBottom
{
  float:left;
  width:15px;
  background-color: gray;
  height: 10px;
  clear: both;
  padding: 3px;
  margin:1px 0px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 8px;
  padding-top: 0px;
  font-weight: bolder;
}