/*---------- User Manager CSS----------*/
table
{
	width:100%;
	border:0px;
	padding:0px;
}
.checkboxArea
{
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 70px;
}
.checkboxAreaPadded
{
    left: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 12px;
}
.settingsArea
{
	padding-left:15px;
}

.fields
{
	padding-left:18px;
}

.dataDiv
{
    padding-left: 0px !important;
}
.settingsPlaceHolder
{
    margin-top: 10px;
}
.highlight
{
    background-color: #6BA7C7;
    border: #000000 thin solid;
    color: #ffffff;
    padding-left: 3px;
}
#placeHolder fieldset
{
    margin-top: 10px;
}
#placeHolder fieldset legend
{
    padding: 3px;
}
#GUIInterface
{
    position: relative;
}
#GUIInterface .blockOverlay
{
	-webkit-border-radius:  5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
    height: 100% !important;
    padding: 10px 0 4px !important;
    top: -8px !important;
	z-index:95 !important;
}
#sticky, #stickyBottom
{
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
}
#stickyBottom
{
    text-align: right;
}
#sticky input, #sticky select
{
    top: 5px;
    position: relative;
}
#stickyBottom .button
{
    top: 0px;
    position: relative;
}
#sticky .button
{
    top: 2px;
    position: relative;
}

.closeBtn
{
    float: right;
    top: -3px;
    right: -5px;
    position: relative;
}

.chrome #sticky .button
{
    top: 10px;
}

.chrome .customForm .button
{
    position: relative;
    top: 5px;
}

#sticky.stick
{
    position: fixed;
    top: -3px;
    right: 10px;
    z-index: 98;
    padding: 5px 10px;
}

#stickyBottom.stick
{
    position: fixed;
    bottom: -3px;
    z-index: 99;
    text-align: right;
    margin: 5px 0px;
    padding: 5px;
    height: 25px;
}

#sideBar.stick
{
	position: fixed;
    top: -3px;
    left: 17px;
    z-index: 98;
	width:250px;
}

.hiddenFields #sticky.stick .fields
{
    display: none;
}

#sticky.stick .fields
{
    width: 540px;
}

#navigationContainer
{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    height: 29px;
}

#topNavigation
{
    margin: 1px 0px 0px 7px;
    padding: 0;
    float: left;
    position: absolute;
    z-index: 90;
}

#topNavigation li
{
    float: left;
    list-style: none;
}

#topNavigation li a
{
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    border: 0px;
    border-right: 1px solid white;
    width: 90px;
    white-space: nowrap;
	font-weight: bold;
	font-size:13px;
}

#topNavigation li ul
{
    margin: 0px;
    padding: 0px;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
}

#topNavigation li ul li
{
    float: none;
    display: inline;
}

#topNavigation li ul li a
{
    width: auto;
    padding: 5px 10px;
}

#menu .links ul li a
{
    padding-left: 20px;
    font-weight: normal;
    background-image: none;
}

#growlContainer
{
	z-index:100;
}

#menu .links li
{
	margin: 2px 10px 5px 0px;
	border-bottom:1px solid;
	padding: 5px 2px;
	cursor:pointer;
}

#menu .links span
{
	display:inline-block;
	background-image: url("../images/user.png");
    background-position: 3px 0px;
    background-repeat: no-repeat;
	padding-left:25px;
	font-weight:bolder;
}

#loadingIndicator {
    background: url("../images/loading.gif") no-repeat 5px 8px;
    padding-left: 25px;
}

.loadingIndicatorWindow .ui-dialog-titlebar-close {
    display: none;
}

.vButtons .button
{
	margin-bottom:5px;
}

.noSpacing
{
	top: auto !important;
}